/* CSS styling common across the site */

@font-face {
  font-family: 'm6x11medium';
  src        : url('fonts/m6x11-webfont.woff2') format('woff2'), url('fonts/m6x11-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

/* Global styling */

* {
  box-sizing: border-box;
  cursor    : url('img/sCursor.png'), auto;
}

:root,
select,
option {
  color           : white;
  background-color: #FFFFFF00;
  font-family     : "m6x11medium", "Courier New", monospace;
  font-size       : 32px;
}

body {
  min-height: 100vh;
  margin    : 0;

  display        : flex;
  flex-direction : column;
  justify-content: stretch;
  align-items    : center;

  background-color: black;
}

/* Styling for common elements */

p {
  padding    : 0;
  margin     : 0 0 0.5rem 0;
  line-height: 1.125rem;
}

h1 {
  font-size  : 3rem;
  font-weight: normal;
  margin     : 0 0 1.5rem 0;
}

h2 {
  font-size  : 2.5rem;
  font-weight: normal;
  margin     : 0 0 1.25rem 0;
}

h3 {
  font-size  : 2rem;
  font-weight: normal;
  margin     : 0 0 1rem 0;
}

h4 {
  font-size  : 1.5rem;
  font-weight: normal;
  margin     : 0 0 0.75rem 0;
}

a {
  text-decoration: none;
  color          : inherit;
}

a:focus,
a:focus-visible {
  color  : yellow;
  outline: none;
}

a:hover {
  cursor         : url('img/sCursorHand.png'), auto;
  text-decoration: underline;
}

input,
button {
  border        : 0.25rem solid grey;
  padding       : 0.5rem;
  padding-bottom: 0.25rem;

  font-family: "m6x11medium", "Courier New", monospace;
  text-align : center;
}

input {
  width: min(20rem, 95%);

  background-color: #FFFFFF00 !important;
  color           : white;
  font-size       : 2rem;
}

button {
  margin       : 1rem;
  padding-left : 1.5rem;
  padding-right: 1.5rem;

  background-color: black;
  color           : grey;
  font-size       : 1.5rem;
}

button:hover {
  cursor         : url('img/sCursorHand.png'), auto;
  text-decoration: underline;
}

button:focus,
button:focus-visible {
  border-color: yellow;
  color       : yellow;
  outline     : none;
}

button:active {
  cursor      : url('img/sCursorHand.png'), auto;
  border-color: white;
  color       : white
}

input:is(:focus, :focus-visible) {
  outline: none;
}

ul>li label:is(:focus, :focus-visible) {
  outline: none;
  color  : yellow;
}

ul>li label:is(:focus, :focus-visible)+select {
  border-color: yellow;
}

ul {
  list-style-type: none;
}

ul>li,
ol>li {
  margin-bottom: 0.5rem;
}

ul>li a:is(:focus, :focus-visible)::before,
ul>li label:is(:focus, :focus-visible)::before {
  content     : url("img/sHeart_0.png");
  margin-left : -0.75rem;
  margin-right: 0.125rem;
}

select {
  padding   : 2px;
  margin-top: -2px;
}

/* Styling modifiers */

.hidden {
  display: none !important;
}

.small-text {
  font-size: 0.5rem !important;
}

.grey-text {
  color: grey !important;
}

.yellow-text {
  color: yellow !important;
}

.red-text {
  color: red !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.center-container {
  display        : flex;
  flex-direction : column;
  justify-content: start;
  align-items    : center;
}

/* Styling for general items */

.max-width-box {
  padding: 0;
  margin : 0;
  flex   : auto;
  height : 100%;
  width  : min(1440px, 95vw);

  display        : flex;
  flex-direction : column;
  justify-content: stretch;
}

.max-width-box>* {
  flex : auto;
  width: 100%;
}

/* Name scene */

#name-scene {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

#name-input-label {
  display       : flex;
  flex-direction: column;
}

#name-input-label>* {
  text-align: center;
}

#name-confirm {
  align-self: flex-end;
}

/* Menu scene */

#menu-scene {
  padding        : 1rem 0;
  align-self     : flex-start;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : flex-start;
}

#menu-title-and-name {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
}

#menu-logo {
  width        : 292px;
  margin-bottom: 0.5rem;
}

#menu-options {
  width          : 100%;
  display        : flex;
  flex-direction : row-reverse;
  justify-content: space-between;
  align-items    : top;
}

#menu-options-config {
  text-align: right;
}

@media (max-width: 800px) {
  #menu-options {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
  }

  #menu-options-config {
    text-align: left;
  }
}

/* Instructions scene */

#instructions-scene {
  padding: 1rem 0;
}