/* CSS styling common across the site */

@font-face {
  font-family: 'm6x11medium';
  src        : url('fonts/m6x11-webfont.woff2') format('woff2'), url('fonts/m6x11-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

/* Global styling */

* {
  box-sizing: border-box;
}

:root {
  cursor: url('img/sCursor.png'), auto;
}

:root,
select,
option {
  color           : white;
  background-color: #FFFFFF00;
  font-family     : "m6x11medium", "Courier New", monospace;
  font-size       : 32px;
}

body {
  min-height: 100vh;
  margin    : 0;

  display        : flex;
  flex-direction : column;
  justify-content: stretch;
  align-items    : center;

  background-color: black;
}

/* Styling for common elements */

div {
  margin : 0;
  padding: 0;
}

p {
  padding    : 0;
  margin     : 0 0 0.5rem 0;
  line-height: 1.125rem;
}

h1 {
  font-size  : 3rem;
  font-weight: normal;
  margin     : 0 0 1.5rem 0;
}

h2 {
  font-size  : 2.5rem;
  font-weight: normal;
  margin     : 0 0 1.25rem 0;
}

h3 {
  font-size  : 2rem;
  font-weight: normal;
  margin     : 0 0 1rem 0;
}

h4 {
  font-size  : 1.5rem;
  font-weight: normal;
  margin     : 0 0 0.75rem 0;
}

a {
  text-decoration: none;
  color          : inherit;
}

a:focus,
a:focus-visible {
  color  : yellow;
  outline: none;
}

a:hover {
  cursor         : url('img/sCursorHand.png'), pointer;
  text-decoration: underline;
}

input,
button {
  border        : 0.25rem solid grey;
  padding       : 0.5rem;
  padding-bottom: 0.25rem;

  font-family: "m6x11medium", "Courier New", monospace;
  text-align : center;
}

input {
  width: min(20rem, 95%);

  background-color: #FFFFFF00 !important;
  color           : white;
  font-size       : 2rem;
}

button {
  margin       : 1rem;
  padding-left : 1.5rem;
  padding-right: 1.5rem;

  background-color: black;
  color           : grey;
  font-size       : 1.5rem;
}

button.small {
  margin      : 0.5rem;
  padding     : 0.25rem 0.5rem;
  font-size   : 0.75rem;
  border-width: 0.125rem;
}

button:hover {
  cursor         : url('img/sCursorHand.png'), pointer;
  text-decoration: underline;
}

button:focus,
button:focus-visible {
  border-color: yellow;
  color       : yellow;
  outline     : none;
}

button:active {
  border-color: white;
  color       : white
}

input:is(:focus, :focus-visible) {
  outline: none;
}

ul>li label:is(:focus, :focus-visible) {
  outline: none;
  color  : yellow;
}

ul>li label:is(:focus, :focus-visible)+select {
  border-color: yellow;
}

ul {
  list-style-type: none;
}

ul>li,
ol>li {
  margin-bottom: 0.5rem;
}

ul>li a:is(:focus, :focus-visible)::before,
ul>li label:is(:focus, :focus-visible)::before {
  content     : url("img/sHeart_0.png");
  margin-left : -0.75rem;
  margin-right: 0.125rem;
}

select {
  padding   : 2px;
  margin-top: -2px;
}

@media (max-width: 800px) {
  .big-screen-only {
    display: none !important;
  }
}

@media (min-width: 801px) {
  .small-screen-only {
    display: none !important;
  }
}

/* Styling modifiers */

.hidden {
  display: none !important;
}

.small-text {
  font-size: 0.5rem !important;
}

.grey-text {
  color: grey !important;
}

.yellow-text {
  color: yellow !important;
}

.red-text {
  color: red !important;
}

.no-margin {
  margin: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.med-top-margin {
  margin-top: 1rem !important;
}

.center-container {
  display        : flex;
  flex-direction : column;
  justify-content: start;
  align-items    : center;
}

/* Styling for general items */

.max-width-box {
  padding: 0;
  margin : 0;
  flex   : auto;
  height : 100%;
  width  : min(1600px, 95vw);

  display        : flex;
  flex-direction : column;
  justify-content: stretch;
}

.max-width-box>* {
  flex : auto;
  width: 100%;
}

/* Name scene */

#name-scene {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

#name-input-label {
  display       : flex;
  flex-direction: column;
}

#name-input-label>* {
  text-align: center;
}

#name-confirm {
  align-self: flex-end;
}

/* Menu scene */

#menu-scene {
  padding        : 1rem 0;
  align-self     : flex-start;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : flex-start;
}

#menu-title-and-name {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
}

#menu-logo {
  width        : 292px;
  margin-bottom: 0.5rem;
}

#menu-options {
  width          : 100%;
  display        : flex;
  flex-direction : row-reverse;
  justify-content: space-between;
  align-items    : top;
}

#menu-options-config {
  text-align: right;
}

@media (max-width: 800px) {
  #menu-options {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
  }

  #menu-options-config {
    text-align: left;
  }
}

/* Game scene */

:root {
  --heart-scale: 3;
  --heart-width: calc(var(--heart-scale) * 20px);

  --card-scale: 2;

  --card-img-width   : calc(var(--card-scale) * 40px);
  --card-border-width: calc(var(--card-scale) * 2px);
  --card-column-gap  : calc(var(--card-scale) * 8px);
  --card-frame-width : calc(var(--card-img-width) + 2 * var(--card-border-width));
  --card-column-width: calc(var(--card-frame-width) + var(--card-column-gap));

  --card-img-height  : calc(var(--card-scale) * 64px);
  --card-row-gap     : calc(var(--card-scale) * 4px);
  --card-frame-height: calc(var(--card-img-height) + 2 * var(--card-border-width));
  --card-row-height  : calc(var(--card-frame-height) + var(--card-row-gap));
}

#game-scene {
  padding        : 0.5rem 0;
  width          : 100%;
  display        : flex;
  justify-content: space-around;
  align-items    : stretch;
  column-gap     : 1rem;
}

@media (max-width: 800px) {
  #game-scene {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
  }
}

#game-info-panel {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

#your-char-img-frame {
  border: calc(2 * var(--card-border-width)) solid white;
  width : calc(2 * var(--card-img-width) + 4 * var(--card-border-width));
  height: calc(2 * var(--card-img-height) + 4 * var(--card-border-width));
}

#your-char-img {
  width : calc(2 * var(--card-img-width));
  height: calc(2 * var(--card-img-height));
}

#guesses-display {
  align-self: stretch;
}

#guesses-line {
  align-self     : stretch;
  display        : flex;
  justify-content: space-around;
  flex-wrap      : wrap;
}

.guess-icon {
  display: inline-block;
}

.guess-icon:hover {
  cursor: url('img/sCursorHand.png'), pointer;
}

.guess-icon img {
  width: var(--heart-width);
}

.guess-icon.active .inactive-icon {
  display: none;
}

.guess-icon.inactive .active-icon {
  display: none;
}

#game-cards-panel {
  max-width      : 1040px;
  flex           : 1 0 auto;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : stretch;
}

@media (max-width: 800px) {
  #game-cards-panel {
    padding   : 0 1rem;
    align-self: stretch;
  }
}

#cards-top-line {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

#card-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fill, var(--card-column-width));
  gap                  : 0;
}

.character-card {
  width          : var(--card-column-width);
  height         : var(--card-row-height);
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.character-img-frame {
  width       : var(--card-frame-width);
  height      : var(--card-frame-height);
  border-width: var(--card-border-width);
  border-style: solid;

  display        : flex;
  justify-content: center;
  align-items    : center;

  cursor: url('img/sCursorHand.png'), pointer;
}

.active .character-img-frame {
  border-color: white;
}

.inactive .character-img-frame {
  filter: brightness(0.1) saturate(0);
}

.character-img {
  width: calc(var(--card-scale) * 100%);
}

#card-panel-buttons {
  display        : flex;
  justify-content: flex-end;
  gap            : 1rem;
}

/* Instructions scene */

#instructions-scene {
  padding: 1rem 0;
}